<ion-view view-title="用户管理">
    <ion-content class="padding">

        <div class="list">
            <div class="item item-avatar">
                <img src="img/user1.jpg">

                <h2 class="balanced">您好</h2>

                <p><b>匿名用户</b></p>
            </div>

            <div class="spacer" style="height: 20px;"></div>

            <a class="item item-icon-left assertive" href="#/tab/mine/login">
                <i class="icon ion-log-in"></i>
                登陆系统
            </a>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-log-out"></i>
                退出系统
            </a>

            <div class="spacer" style="height: 20px;"></div>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-paw balanced"></i>
                历史记录
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-favorite balanced"></i>
                我的收藏
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-trophy balanced"></i>
                我的成就
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-email balanced"></i>
                系统消息
                <span class="badge badge-assertive">1</span>
            </a>
        </div>

    </ion-content>
</ion-view>