<ion-view view-title="用户注册">
    <ion-content class="padding" class="has-header" ng-controller="SignupCtrl">
        <table style="width: 100%">
            <tr>
                <td>
                    <button ng-class="{true: 'button button-block button-clear button-calm ion-android-phone-portrait', false: 'button button-block button-clear ion-android-phone-portrait'}[signupType != 'Email']"
                            ng-click="changeSignupType('Phone')">
                        手机注册
                    </button>
                </td>
                <td>
                    <button ng-class="{true: 'button button-block button-clear button-calm ion-android-mail', false: 'button button-block button-clear ion-android-mail'}[signupType == 'Email']"
                            ng-click="changeSignupType('Email')">
                        邮箱注册
                    </button>
                </td>
            </tr>
        </table>

        <form name="mobileForm" ng-show="signupType != 'Email'" ng-submit="signupUser()" novalidate>
            <ion-list>
                <label class="item item-input">
                    <i class="icon placeholder-icon ion-android-phone-portrait"></i>
                    <input type="text" name="mobile" ng-model="user.mobile" placeholder="输入手机号码" akala-mobile
                           akala-unique required>
                    <i class="icon placeholder-icon ion-checkmark-round balanced"
                       ng-show="!(mobileForm.mobile.$error.required || mobileForm.mobile.$error.mobile || mobileForm.mobile.$error.unique)"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive"
                       ng-show="(mobileForm.$submitted || mobileForm.mobile.$touched) && (mobileForm.mobile.$error.required || mobileForm.mobile.$error.mobile)"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive" ng-show="mobileForm.mobile.$error.unique"
                       style="position: relative; left: -15px;"></i>
                </label>

                <div style="width: 100%;position: absolute;">
                    <button type="button" ng-click="sendMobileCredentials()"
                            ng-show="!(mobileForm.mobile.$error.required||mobileForm.mobile.$error.mobile || mobileForm.mobile.$error.unique)"
                            ng-disabled="leftSeconds != ''"
                            class="button button-small button-calm"
                            style="position: relative;z-index: 2;float: right;top: -37px;right: 40px;">获取验证码
                        {{leftSeconds}}
                    </button>
                </div>

                <label class="item item-input">
                    <i class="icon placeholder-icon ion-android-attach"></i>
                    <input type="text" name="mobileCredentials" ng-model="user.mobileCredentials" placeholder="输入短信验证码"
                           required>
                    <i class="icon placeholder-icon ion-checkmark-round balanced"
                       ng-show="!mobileForm.mobileCredentials.$error.required"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive"
                       ng-show="(mobileForm.$submitted || mobileForm.mobileCredentials.$touched) && mobileForm.mobileCredentials.$error.required"
                       style="position: relative; left: -15px;"></i>
                </label>

                <label class="item item-input">
                    <i class="icon placeholder-icon ion-android-lock"></i>
                    <input type="password" name="password" ng-model="user.password" ng-minlength="6"
                           placeholder="输入六位以上密码" required>
                    <i class="icon placeholder-icon ion-checkmark-round balanced"
                       ng-show="!(mobileForm.password.$error.required || mobileForm.password.$error.minlength)"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive"
                       ng-show="(mobileForm.$submitted || mobileForm.password.$touched) && (mobileForm.password.$error.required || mobileForm.password.$error.minlength)"
                       style="position: relative; left: -15px;"></i>
                </label>

                <div ng-show="(mobileForm.$submitted || mobileForm.mobile.$touched) && (mobileForm.mobile.$error.required || mobileForm.mobile.$error.mobile)"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">请输入正确的手机号码
                </div>
                <div ng-show="mobileForm.mobile.$error.unique"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">手机号码已经被注册使用
                </div>
                <div ng-show="(mobileForm.$submitted || mobileForm.mobileCredentials.$touched) && mobileForm.mobileCredentials.$error.required"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">请输入手机验证码
                </div>
                <div ng-show="(mobileForm.$submitted || mobileForm.password.$touched) && (mobileForm.password.$error.required || mobileForm.password.$error.minlength)"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">请输入六位以上密码
                </div>
                <div class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">{{signupError}}</div>
            </ion-list>
            <button type="submit" ng-disabled="mobileForm.$invalid" class="button button-block button-balanced">注册
            </button>
        </form>

        <form name="emailForm" ng-show="signupType == 'Email'" ng-submit="signupUser()" novalidate>
            <ion-list>
                <label class="item item-input">
                    <i class="icon placeholder-icon ion-android-mail"></i>
                    <input type="email" name="email" ng-model="user.email" placeholder="请输入邮箱" akala-unique required>
                    <i class="icon placeholder-icon ion-checkmark-round balanced"
                       ng-show="!(emailForm.email.$error.email || emailForm.email.$error.unique || emailForm.email.$error.required)"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive"
                       ng-show="(emailForm.$submitted || emailForm.email.$touched) && (emailForm.email.$error.email || emailForm.email.$error.required)"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive" ng-show="emailForm.email.$error.unique"
                       style="position: relative; left: -15px;"></i>
                </label>

                <label class="item item-input">
                    <i class="icon placeholder-icon ion-android-lock"></i>
                    <input type="password" name="password" ng-model="user.password" ng-minlength="6"
                           placeholder="输入六位以上密码" required>
                    <i class="icon placeholder-icon ion-checkmark-round balanced"
                       ng-show="!(emailForm.password.$error.required || emailForm.password.$error.minlength)"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive"
                       ng-show="(emailForm.$submitted || emailForm.password.$touched) && (emailForm.password.$error.required || emailForm.password.$error.minlength)"
                       style="position: relative; left: -15px;"></i>
                </label>

                <div ng-show="(emailForm.$submitted || emailForm.email.$touched) && (emailForm.email.$error.email||emailForm.email.$error.required)"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">请输入正确的邮箱地址
                </div>
                <div ng-show="emailForm.email.$error.unique"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">邮箱已经被注册使用
                </div>
                <div ng-show="(emailForm.$submitted || emailForm.email.$touched) && (emailForm.password.$error.required || emailForm.password.$error.minlength)"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">请输入六位以上密码
                </div>
                <div class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">{{signupError}}
                </div>
            </ion-list>
            <button type="submit" ng-disabled="emailForm.$invalid" class="button button-block button-balanced">注册
            </button>
        </form>
    </ion-content>
</ion-view>