<ion-view view-title="用户登陆">
    <ion-content padding="true" class="has-header">
        <form name="loginForm" novalidate>
            <ion-list>
                <label class="item item-input">
                    <i class="icon placeholder-icon ion-android-person"></i>
                    <input type="text" name="userKey" ng-model="user.userKey" placeholder="手机/邮箱" akala-user-key/>
                    <i class="icon placeholder-icon ion-checkmark-round balanced" ng-show="loginForm.userKey.$valid"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive"
                       ng-show="(loginForm.$submitted || loginForm.userKey.$touched) && !loginForm.userKey.$valid"
                       style="position: relative; left: -15px;"></i>
                </label>

                <label class="item item-input">
                    <i class="icon placeholder-icon ion-android-lock"></i>
                    <input type="password" name="password" ng-model="user.password" placeholder="请输入六位以上密码"
                           ng-minlength="6" required/>
                    <i class="icon placeholder-icon ion-checkmark-round balanced"
                       ng-show="(!loginForm.password.$error.minlength && !loginForm.password.$error.required)"
                       style="position: relative; left: -15px;"></i>
                    <i class="icon placeholder-icon ion-close-round assertive"
                       ng-show="(loginForm.$submitted || loginForm.password.$touched) && (loginForm.password.$error.minlength || loginForm.password.$error.required)"
                       style="position: relative; left: -15px;"></i>
                </label>

                <div ng-show="(loginForm.$submitted || loginForm.userKey.$touched) && !loginForm.userKey.$valid"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">请输入正确手机/邮箱
                </div>
                <div ng-show="(loginForm.$submitted || loginForm.password.$touched) && (loginForm.password.$error.minlength || loginForm.password.$error.required)"
                     class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">请输入六位以上密码
                </div>
                <div class="assertive" style="font-size: 12px;line-height: 20px;margin-top:5px">{{loginError}}</div>
            </ion-list>
            <a href="#/tab/resetpwd">
                <button name="resetpwdBtn" class="button button-calm button-clear button-small"
                        style="padding-left: 0px;">
                    忘记密码
                </button>
            </a>
            <button name="loginBtn" class="button button-balanced button-block" ng-disabled="loginForm.$invalid"
                    ng-click="signIn(user)">登陆
            </button>
        </form>
        <div>
            <span style="font-size: 12px;line-height: 26px;vertical-align: middle;">没有账号？</span>
            <a href="#/tab/signup">
                <button class="button button-calm button-clear button-small"
                        style="vertical-align: middle;">免费注册
                </button>
            </a>
        </div>
        <div style="text-align: center;margin-bottom: 10px;">
            <span style="border-bottom: 1px #909090 solid;width: 46%;display: inline-block;">&nbsp;</span>
            <span style="font-size: 14px; line-height: 20px; color: #909090; top: 10px; position: relative;">或</span>
            <span style="border-bottom: 1px #909090 solid;width: 46%;display: inline-block;">&nbsp;</span>
        </div>
        <div>
            <img src="img/wechat_logo.png" style="width: 50px">
        </div>
    </ion-content>
</ion-view>