<ion-view
        view-title="<table style='width: 100%;margin-top: -5px;'><tr><td><button style='border-bottom: solid;' class='button button-block button-clear button-calm'>点菜</button></td><td><button class='button button-block button-clear button-calm'>评价</button></td><td><button class='button button-block button-clear button-calm'>商家</button></td></tr></table>">
    <ion-nav-buttons side="right">
        <a>
            <i class="button button-clear button-calm ion-android-star-outline"
               style="margin-right: 10px;font-size: 25px;"></i>
        </a>
    </ion-nav-buttons>

    <ion-content class="padding" class="has-header">

    </ion-content>
</ion-view>