<ion-view view-title="<i class='icon ion-ios-location'></i> {{myLocation.address}} <i class='icon ion-android-arrow-dropdown'></i>">
    <ion-content class="padding" class="has-header">
        <div class="list" ng-show="shopGeoResultList">
            <a ng-repeat="shopGeoResultList in shopGeoResultList"
               href="#/shop-detail" ng-click="selectedShop(shopGeoResultList.content.id)"
               class="item item-thumbnail-left">

                <img ng-src="{{ imagePrefixUrl }}{{shopGeoResultList.content.photoId}}">
                <h2>{{ shopGeoResultList.content.name }}</h2>
                <h4>起送价 ¥{{ shopGeoResultList.content.minDeliveryAmount }} | 配送费 ¥{{shopGeoResultList.content.deliveryFee}} | {{shopGeoResultList.content.avgDeliveryMinutes}}分钟到达</h4>
                <h4>  距离{{ shopGeoResultList.distance.value | number : 2 }}公里</h4>
            </a>

        </div>
        <div ng-show="!shopGeoResultList">
            您附近没有可用餐厅，换个地方看看
        </div>
        <div id="mapContainer" style="height: 800px; width: 800px"></div>
    </ion-content>

</ion-view>